@font-face {
  font-family: A-Goblin-Appears;
  font-style: normal;
  font-weight: normal;
  src: url('A Goblin Appears!.otf') format('truetype')
}

* {
  font-family: A-Goblin-Appears;
  font-size: 12px;
}

#dashboard {
  display: flex;
  flex-direction: row;
}

#program {
  overflow-y: scroll;
}

.active {
  background-color: black;
  color: white;
}
