@font-face {
  font-family: DTM-Mono;
  font-style: normal;
  font-weight: normal;
  src: url('DTM-Mono.otf') format('truetype');
}

* {
  font-family: DTM-Mono;
}

#dashboard {
  display: flex;
  flex-direction: row;
}

table, tr {
  border: 1px solid black;
}
