@font-face {
  font-family: A-Goblin-Appears;
  font-style: normal;
  font-weight: normal;
  src: url('A Goblin Appears!.otf') format('truetype')
}

* {
  font-family: A-Goblin-Appears;
  font-size: 12px;
}

body {
  background-color: black;
  color: white;
}

#dashboard {
  display: flex;
  flex-direction: row;
}

#memory-viewer {
  padding: 10px;
}

#sfr-viewer {
  padding: 10px;
}

#program-viewer {
  padding: 10px;
}

#controls {
  padding: 10px;
}

.custom-btn {
  border: None;
  outline: None;
  background-color: white;
  margin-right: 5px;
  padding: 5px;
}

.active {
  background-color: white;
  color: black;
}
